body
{
    background-image: url(assets/background.png);
    min-height: 100vh;
    max-width: 100%;
    background-color: #1f1f1f;
    background-position: center;
    background-size: cover;
}


.port-container
{
    max-width: 40rem;
    max-height: 55vh;
	margin: 0 auto;
	padding: 0 2rem 2rem;
    border-style: dotted;
    border-radius: 10px;
    border-color: #ee8888;
    background-image: url(assets/printed-background.png);

}

pre
{
    color: rgb(212, 212, 212);
}

.port-container-col2
{
    max-width: 50rem;
	margin: 0 auto;
  flex-direction: column;
}

.cat
{
    float: left;
    padding: 2vh;
}

.nava button:hover
{
    color: white;
    cursor: pointer;
}

.nava
{
    padding-top: 2vh;
    display: flex;
    justify-content: center; 
    flex-direction: row; 
    flex-wrap: wrap;
}

.nava button
{
    background-color: #363636;
    color: rgb(160, 160, 160);
    font-size: 30px;
    padding: 10px 45px 10px 45px;
    border-radius: 10px;
    border-style: dotted;
    margin: 4.5vh;
    border-color: #ee8888;
}

.port-container pre
{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.categories
{
    color: #ffffff;
    background-color: rgb(51, 51, 51);
    border-style: none;
    border-radius: 10px;
    border-style: dashed;
    border-color: #ee8888;
    padding: 5px 10px 5px 10px;
    margin-right: 1.4vh;
    margin-bottom: 1vh;
    font-size: 13px;
}

.about-categories
{
    background-image: url(assets/bg-lined.png);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}










