
::selection { color: #ee8888;
    background-color: #202020; }

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
      border-radius: 10px;
    background: #2e2e2e; 
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ee8888; 
  }

  ::-webkit-scrollbar-thumb:hover {
      
    background: rgb(255, 255, 255); 
  }


*
{
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.intro-header
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1870px;
    height: 84px;
    
}

.intro-header video
{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.all
{
    background-image: url(assets/background.png);
    min-height: 100vh;
    max-width: 100%;
    background-color: #1f1f1f;
    background-position: center;
    background-size: cover;
    

}

.main
{
    display: flex;
    justify-content: center;
    padding-top: 31.5vh;

}

.main img
{
    width: 16%;
    height: auto;

}
.nav
{
    padding-top: 2vh;
    display: flex;
    justify-content: center; 
    flex-direction: row; 
    flex-wrap: wrap;
}

.nav button
{
    background-color: #363636;
    color: rgb(160, 160, 160);
    font-size: 30px;
    padding: 10px 45px 10px 45px;
    border-radius: 10px;
    border-style: dotted;
    margin: 4.5vh;
    border-color: #ee8888;
}

.nav button:hover
{
    color: white;
    cursor: pointer;
}

.container
{
    margin-inline: auto;
    padding-inline: auto;
    flex-wrap: wrap;
    background-image: url(assets/printed-background.png);

}

video
{
    display: block;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
}

img 
{
    display: block;
    max-width: 100%;
    flex-wrap: wrap;
}

.container h2
{
    color: #ee8888;
    float: left;
    top: 4vh;
    position: -webkit-sticky;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 2vh;
}