body
{
    background-image: url(assets/background.png);
    min-height: 100vh;
    max-width: 100%;
    background-color: #1f1f1f;
    background-position: center;
    background-size: cover;
}


.port-container
{
    max-width: 50rem;
    max-height: 50vh;
	margin: 0 auto;
	padding: 0 2rem 2rem;
  background-color: #363636;
  border-style: dotted;
  border-radius: 10px;
  border-color: white;
  overflow:auto;
}

.port-container-col2
{
    max-width: 50rem;
	margin: 0 auto;
  flex-direction: column;
}

.cat
{
    float: left;
    padding: 2vh;
}

h1
{
    color: white;
    text-align: center;
    padding-top: 2vh;
    font-weight:normal;
    
}

.nava button:hover
{
    color: white;
    cursor: pointer;
}

