body
{
    background-image: url(assets/background.png);
    min-height: 100vh;
    max-width: 100%;
    background-color: #1f1f1f;
    background-position: center;
    background-size: cover;
}


.port-container
{
    max-width: 50rem;
    max-height: 55vh;
	margin: 0 auto;
	padding: 0 2rem 2rem;
  background-color: #363636;
  border-style: dotted;
  border-radius: 10px;
  border-color: #ee8888;
  overflow:auto;
}

.port-container-col2
{
    max-width: 50rem;
	margin: 0 auto;
  flex-direction: column;
}

.cat
{
    float: left;
    padding: 2vh;
}

h1
{
    color: white;
    text-align: center;
    padding-top: 2vh;
    font-weight:normal;
    
}

.nava button:hover
{
    color: white;
    cursor: pointer;
}

.updating
{
    font-size: smaller;
    margin: 0 auto;
	padding: 0 2rem 2rem;
    color: rgb(251, 255, 0);
    display: flex;
    max-width: 30rem;
    max-height: 55vh;
    position: relative;
    top: 3vh;
    text-decoration: underline;
    
}

.updating a 
{
    text-decoration: none;
    color: white;
}