@media screen 
  and (max-device-width: 1600px){

    .intro-header
    {
        width: 1400px;
    }

    .nava
    {
        padding-top: 8vh;
    }

    .ii
    {
        left: 132vh;
        top: 61vh;
    }
}

@media only screen and (max-width: 600px) {

      .main img
      {
        width: 70%;
      }

      video
      {
          width: 900px;
      }
    }
