.instagram-container
{
    max-width: 40%;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    border: 3px;
    border-color: #353535;
    display: flex;
    margin-left: 15%;
    float: left;
    justify-content: center;
    
}

.instagram-container img
{
    margin: 1vh;
}